# Add any directories, files, or patterns you don't want to be tracked by version control
*iml
.idea
/target

# Logs
*.log
npm-debug.log*

# Runtime data
*.pid
.tmp

###############
.DS_Store
node_modules
client/dist
/src/main/resources/static/*
