<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <property name="logDirectory" value="/var/log/freightsol"/>
    <property name="generalLog" value="freightsol.log"/>
    <property name="userActivity" value="useractivity.log"/>
    <property name="generalLogFile" value="${logDirectory}/${generalLog}}"/>
    <property name="userActivityLogFile" value="${logDirectory}/${userActivity}}"/>

    <!--dev configuration-->
    <springProfile name="dev">

        <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder>
                <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
            </encoder>
            <file>${generalLogFile}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${logDirectory}/${generalLog}.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>2</maxHistory>
            </rollingPolicy>
        </appender>

        <appender name="userActivityAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder>
                <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
            </encoder>
            <file>${userActivityLogFile}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${logDirectory}/${userActivity}.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>2</maxHistory>
            </rollingPolicy>
        </appender>

        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="ERROR">
            <appender-ref ref="console"/>
            <appender-ref ref="rollingFile"/>
        </root>

        <!--Segregating special purpose log files-->
        <!--<logger name="com.freightsol.freightsol.controllers.{specificDomainPackage}" additivity="false" level="debug">-->
        <logger name="com.freightsol.freightsol.controllers.LoginController" additivity="false" level="debug">
            <appender-ref ref="userActivityAppender" />
        </logger>

    </springProfile>




    <!--Production Configuration-->
    <springProfile name="prod">

        <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder>
                <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
            </encoder>
            <file>${generalLogFile}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>5</maxHistory>
            </rollingPolicy>
        </appender>

        <appender name="userActivityAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder>
                <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
            </encoder>
            <file>${userActivityLogFile}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${USER_ACTIVITY_LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>5</maxHistory>
            </rollingPolicy>
        </appender>

        <root level="ERROR">
            <appender-ref ref="rollingFile"/>
        </root>

        <logger name="com.freightsol.freightsol.controllers.LoginController" additivity="false" level="debug">
            <appender-ref ref="userActivityAppender" />
        </logger>

    </springProfile>

</configuration>